.cards__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  row-gap: 60px;
  column-gap: 30px;
  width: calc(100% - 70px * 2);
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .cards__list {
    width: calc(100% - 30px * 2);
    row-gap: 47px;
  }
}
