.student {
  background-color: #202020;
  padding: 110px 0 125px 0;
}
.student__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.student__info {
  max-width: 600px;
}
.student__avatar {
  width: 270px;
  height: 327px;
}
.student__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 0;
  padding-bottom: 26px;
}
.student__social-media {
  display: flex;
  padding-top: 99px;
}
.student__social-media-link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-right: 20px;
}
@media screen and (max-width: 1050px) {
  .student__info {
    max-width: 363px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 650px) {
  .student__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .student__info {
    max-width: 292px;
    margin-right: 0;
    order: 2;
  }
  .student__avatar {
    width: 292px;
    height: 352px;
    order: 1;
    padding-top: 60px;
  }
  .student__about {
    font-size: 11px;
  }
  .student__social-media {
    padding-top: 40px;
  }
  .student {
    padding: 70px 0;
  }
}
