.about-project {
  background-color: #202020;
  padding: 110px 0;
}
.about-project__description {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
@media screen and (max-width: 768px) {
  .promo__title {
    text-align: center;
    padding-top: 300px;
  }
  .promo__container {
    background-size: 680px 280px;
    min-height: 844px;
    background-position: center bottom;
  }
}
@media screen and (max-width: 600px) {
  .about-project__description {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 60px 0;
    row-gap: 56px;
  }
  .about-project {
    padding: 70px 0;
  }
}
