.technologies {
  background-color: #272727;
  padding: 100px 0;
}
.tech__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 0;
}
.tech__item {
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .tech__item {
    width: 84px;
    height: 57px;
  }
}
@media screen and (max-width: 675px) {
  .technologies {
    padding: 60px 0 70px 0;
  }
  .tech__item {
  }
  .tech__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 10px;
    width: calc(84px * 2 + 10px);
  }
}
