.cards {
  background-color: #202020;
  padding: 70px 0 80px;
}
.cards__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  row-gap: 60px;
  column-gap: 30px;
  width: calc(100% - 70px * 2);
  justify-content: flex-start;
}
.cards__more {
  width: 360px;
  height: 36px;
  background-color: #2f2f2f;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 78px auto 0;
  color: inherit;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cards__list {
    width: calc(100% - 30px * 2);
    row-gap: 47px;
  }
}
@media screen and (max-width: 600px) {
  .cards__list {
    width: calc(100% - 10px * 2);
    row-gap: 39px;
    justify-content: center;
  }
  .cards__more {
    width: 240px;
  }
}
