.portfolio {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  padding: 100px 0 30px;
  color: #8b8b8b;
}
.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.portfolio__item {
  background-image: url(../../../images/arrow-up-right.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16px 16px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  border-bottom: #424242 1px solid;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 20px 0 19px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .portfolio__item {
    line-height: 1.79;
    border-bottom: #e5e5e5 1px solid;
  }
}
@media screen and (max-width: 600px) {
  .portfolio {
    font-size: 14px;
    padding: 69px 0 20px;
  }
  .portfolio__item {
    font-size: 18px;
  }
}
