.header {
  background-color: #202020;
  padding: 18px 0;
  font-family: "Inter";
  font-weight: 400;
  color: white;
  flex-direction: column;
}
.header__logo {
  width: 38px;
  height: 38px;
}
.header__tabs {
  padding-left: 44px;
  /* display: none; */
}
.header__tab_films {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  padding-right: 16px;
  text-decoration: none;
  color: inherit;
}
.header__tab_saved-films {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
  color: inherit;
}
.header__links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__link_reg {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: inherit;
  padding-right: 30px;
}
.header__entrance-btn {
  display: none;
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
  border: none;
  padding: 0;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__link_entrance {
  /* display: none; */
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: black;
}
.header__account-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background-color: #313131;
  border-radius: 20px;
  border: none;
  color: inherit;
  /* display: none; */
}
.header__link_account {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: inherit;
}
.header__container {
  display: flex;
  width: calc(100% - 70px * 2);
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
