.header {
  background-color: #202020;
  padding: 18px 0;
  font-family: "Inter";
  font-weight: 400;
  color: white;
  flex-direction: column;
}
.header_place_promo {
  background-color: #073042;
  padding: 18px 0;
  font-family: "Inter";
  font-weight: 400;
  color: white;
  flex-direction: column;
}
.header__logo {
  width: 38px;
  height: 38px;
}
.header__tabs {
  padding-left: 44px;
}
.header__tab_films {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  padding-right: 16px;
  text-decoration: none;
  color: inherit;
}
.header__tab_saved-films {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
  color: inherit;
}
.header__links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__link_reg {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: inherit;
  padding-right: 30px;
}
.header__entrance-btn {
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__link_entrance {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: black;
}
.header__account-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background-color: #313131;
  border-radius: 20px;
  border: none;
  color: inherit;
}
.header__link_account {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: inherit;
}
.header__container {
  display: flex;
  width: calc(100% - 70px * 2);
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.burger {
  background-image: url(../../images/burger-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
}
.burger-menu {
  position: absolute;
  right: -600px;
  transition: right 0.4s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  overflow: hidden;
}
.burger-menu_opened {
  opacity: 1;
  left: 0;
  top: 0;
  right: 0px;
  bottom: 0;
}
.burger-menu__container {
  width: 67vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  z-index: 4;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.burger-menu__close-btn {
  background-image: url(../../images/burger__close-btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 23px;
  right: 23px;
}
.burger-menu__text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 159px auto 0;
}
.burger-menu__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 28px;
}
.burger-menu__link_active {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .header__container {
    width: calc(100% - 30px * 2);
  }
}
@media screen and (max-width: 600px) {
  .header__container {
    width: calc(100% - 14px * 2);
  }
}
